# Python : Numpy & Panda

Voir aussi:  
https://gist.github.com/sloria/7001839  
https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-data-science  
https://www.python.org/dev/peps/pep-0008/

In [1]:
import pandas as pd
import numpy as np

### Range / Arange (de 1 à 10 par pas de 2)

In [2]:
print("range :\t", range(1,10,2))               # type range
print("array :\t", np.array(range(1,10,2)))     # type array
print("liste :\t", list(range(1,10,2)))         # type liste

range :	 range(1, 10, 2)
array :	 [1 3 5 7 9]
liste :	 [1, 3, 5, 7, 9]

In [3]:
print("arange :\t", np.arange(0.1, 1, 0.2))           # peut faire des 0.1000000001
print("range  :\t", np.array(range(1, 10, 2))/10)     # plus précis

arange :	 [0.1 0.3 0.5 0.7 0.9]
range  :	 [0.1 0.3 0.5 0.7 0.9]

### String

In [4]:
string = '  aBCdef 0,1,2,3,4 _'
print("longueur      :\t", len(string))
print("3e élément    :\t", string[2])
print("concatenation :\t", string+string)
print("minuscules    :\t", string.lower())
print("suppression des espaces à gauche et à droite :\t", string.strip())

longueur      :	 20
3e élément    :	 a
concatenation :	   aBCdef 0,1,2,3,4 _  aBCdef 0,1,2,3,4 _
minuscules    :	   abcdef 0,1,2,3,4 _
suppression des espaces à gauche et à droite :	 aBCdef 0,1,2,3,4 _

### Listes  
##### Liste des nombres pairs

In [5]:
# Méthode compréhension de liste (à privilégier)
liste = [i for i in range(10) if i%2 == 0]
print("1) List comprehension :\t", liste)


# Méthode append (ajouter un élément)
liste = []
for i in range(10):
    if i%2 == 0:
        liste.append(i)
print("2) Append :\t", liste)


# Méthode "addition" (ajouter une liste)
liste = []
for i in range(10):
    if i%2 == 0:
        liste += [i]
print("3) Addition :\t", liste)


# Méthode extend (ajouter une liste)
liste = []
for i in range(10):
    if i%2 == 0:
        liste.extend([i])
print("4) extend :\t", liste)

1) List comprehension :	 [0, 2, 4, 6, 8]
2) Append :	 [0, 2, 4, 6, 8]
3) Addition :	 [0, 2, 4, 6, 8]
4) extend :	 [0, 2, 4, 6, 8]

##### list comprehension

In [6]:
liste = [[v+str(i) for i in range(5)] for v in ['a','b','c']]
liste

[['a0', 'a1', 'a2', 'a3', 'a4'],
 ['b0', 'b1', 'b2', 'b3', 'b4'],
 ['c0', 'c1', 'c2', 'c3', 'c4']]

In [7]:
liste = [a+b for a in ['a','b','c'] for b in ['0','1','2']]
liste

['a0', 'a1', 'a2', 'b0', 'b1', 'b2', 'c0', 'c1', 'c2']

##### Join / Split

In [8]:
liste  = ['ooo' if i%2==0 else '---' for i in range(7)]
print("A\t: liste :\t", liste)

string = "+".join(liste)
print("A -> B\t: string de l'union par des '+' :\t", string)

split  = string.split("+")
print("B -> A\t: liste en séparant par les '+' :\t", split)

A	: liste :	 ['ooo', '---', 'ooo', '---', 'ooo', '---', 'ooo']
A -> B	: string de l'union par des '+' :	 ooo+---+ooo+---+ooo+---+ooo
B -> A	: liste en séparant par les '+' :	 ['ooo', '---', 'ooo', '---', 'ooo', '---', 'ooo']

### Additions sur tous les éléments d'une liste / d'un array

In [9]:
liste = [1,2,4,5,6,7]
array = np.array(liste)

A = array + 10
L = [e + 10 for e in liste]

print("array :\t", A)
print("liste :\t", L)

print("array -> liste :\t", list(A))
print("liste -> array :\t", np.array(L))

array :	 [11 12 14 15 16 17]
liste :	 [11, 12, 14, 15, 16, 17]
array -> liste :	 [11, 12, 14, 15, 16, 17]
liste -> array :	 [11 12 14 15 16 17]

### MAP : appliquer une fonction à chaque élément

In [10]:
def ajouter_un(valeur):
    return valeur+1

liste = [2,7,6,10]
R = map(ajouter_un, liste)
print("MAP :\t", list(R))


print("Avec compréhension de liste :\t", [e+1 for e in liste])

MAP :	 [3, 8, 7, 11]
Avec compréhension de liste :	 [3, 8, 7, 11]

### Enumération :

In [11]:
liste = [2,7,6,10]
list(enumerate(liste))

[(0, 2), (1, 7), (2, 6), (3, 10)]

## Ensembles

In [12]:
liste = [1,2,3,4,5,1,1,1,2,3,4]
print("liste :\t", liste)

ensemble = set(liste)
print("liste -> ensemble :\t", ensemble)

u = ensemble.union([111])
print("union :\t", u)

d = ensemble.difference([1,2])
print("difference :\t", d)

ensemble = {i for i in range(10)}
print("ensemble -> liste :\t", list(ensemble))

liste :	 [1, 2, 3, 4, 5, 1, 1, 1, 2, 3, 4]
liste -> ensemble :	 {1, 2, 3, 4, 5}
union :	 {1, 2, 3, 4, 5, 111}
difference :	 {3, 4, 5}
ensemble -> liste :	 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionnaires

In [13]:
dictionnaire = {'A' : 1,
                'B' : 2,
                444 : '4',
                tuple([1,2,'f']) : [1,1,1]}

print("dictionnaire :\n", dictionnaire, '\n')
print("clés    :\t", dictionnaire.keys())
print("valeurs :\t", dictionnaire.values())

dictionnaire :
 {'A': 1, 'B': 2, 444: '4', (1, 2, 'f'): [1, 1, 1]}

clés    :	 dict_keys(['A', 'B', 444, (1, 2, 'f')])
valeurs :	 dict_values([1, 2, '4', [1, 1, 1]])

#### Accéder aux valeurs par la clé :

In [14]:
print("key = A :\t", dictionnaire["A"])
print("key = A :\t", dictionnaire.get('A'))

print("key = AAAA :\t", dictionnaire.get('AAAA'))    # clé n'existe pas -> resultat = None
print("key = AAAA :\t", dictionnaire["AAAA"])        # clé n'existe pas -> error

key = A :	 1
key = A :	 1
key = AAAA :	 None

KeyError: 'AAAA'

##### Test sur valeur None

In [15]:
res = dictionnaire.get('AAAA')
if res is None:
    print("AAAA n'est pas dans le dictionnaire")

AAAA n'est pas dans le dictionnaire

### Numpy

In [16]:
nb_lignes   = 10
nb_colonnes = 3

random_values = np.random.random([nb_lignes,nb_colonnes])
random_values

array([[0.93266235, 0.8912928 , 0.54391842],
       [0.57196467, 0.7282325 , 0.06176441],
       [0.3488242 , 0.39859413, 0.00176113],
       [0.6311695 , 0.0999141 , 0.49623254],
       [0.22660569, 0.20738456, 0.17332501],
       [0.90462822, 0.29383739, 0.87986282],
       [0.70815619, 0.50530274, 0.85061192],
       [0.93554124, 0.64366383, 0.86375575],
       [0.26967065, 0.59844409, 0.66959296],
       [0.64239157, 0.72126873, 0.47835039]])

##### Moyenne globale, par ligne et par colonne

In [17]:
moy = random_values.mean()
moy_colonnes = random_values.mean(axis=0)
moy_lignes   = random_values.mean(axis=1)

print("moy :\t", moy)
print("moy_colonnes :\t", moy_colonnes)
print("moy_lignes   :\t", moy_lignes)

moy :	 0.5426241483477662
moy_colonnes :	 [0.61716143 0.50879349 0.50191753]
moy_lignes   :	 [0.78929119 0.45398719 0.24972649 0.40910538 0.20243842 0.69277614
 0.68802361 0.81432027 0.51256923 0.61400356]

In [18]:
print("moy   :\t", random_values.mean())
print("std   :\t", random_values.std())
print("var   :\t", random_values.var())
print("somme :\t", random_values.sum())

moy   :	 0.5426241483477662
std   :	 0.27589090382264225
var   :	 0.07611579081207444
somme :	 16.278724450432986

##### index de la plus petite valeur pour chaque ligne

In [19]:
np.argmin(random_values, axis=1)

array([2, 2, 2, 1, 2, 1, 1, 1, 0, 2])

### Pandas

In [20]:
dataframe = pd.DataFrame(random_values)
dataframe

          0         1         2
0  0.932662  0.891293  0.543918
1  0.571965  0.728232  0.061764
2  0.348824  0.398594  0.001761
3  0.631169  0.099914  0.496233
4  0.226606  0.207385  0.173325
5  0.904628  0.293837  0.879863
6  0.708156  0.505303  0.850612
7  0.935541  0.643664  0.863756
8  0.269671  0.598444  0.669593
9  0.642392  0.721269  0.478350

In [21]:
dataframe = pd.DataFrame(data=random_values,
                         columns=['A','B','C'],
                         index=np.array(range(len(random_values)))*2)
dataframe

           A         B         C
0   0.932662  0.891293  0.543918
2   0.571965  0.728232  0.061764
4   0.348824  0.398594  0.001761
6   0.631169  0.099914  0.496233
8   0.226606  0.207385  0.173325
10  0.904628  0.293837  0.879863
12  0.708156  0.505303  0.850612
14  0.935541  0.643664  0.863756
16  0.269671  0.598444  0.669593
18  0.642392  0.721269  0.478350

### Fonction apply

In [22]:
print("somme par colonne :\n", dataframe.apply(sum, axis=0), "\n", sep="")
print("somme par ligne :  \n", dataframe.apply(sum, axis=1), "\n", sep="")

somme par colonne :
A    6.171614
B    5.087935
C    5.019175
dtype: float64

somme par ligne :
0     2.367874
2     1.361962
4     0.749179
6     1.227316
8     0.607315
10    2.078328
12    2.064071
14    2.442961
16    1.537708
18    1.842011
dtype: float64

##### Centrer et réduire un array (numpy), ou une série (pandas) :

In [23]:
def centrer_reduire_numpy(array):
    return (array - np.mean(array)) / np.std(array)

def centrer_reduire_panda(serie):
    return (serie - serie.mean()) / serie.std()

In [24]:
dataframe.apply(centrer_reduire_panda) # == dataframe.apply(centrer_reduire_panda, axis=0)

           A         B         C
0   1.183140  1.503858  0.127432
2  -0.169489  0.862760 -1.335441
4  -1.006274 -0.433267 -1.517494
6   0.052531 -1.607576 -0.017248
8  -1.464598 -1.185038 -0.996962
10  1.078011 -0.845135  1.146700
12  0.341234 -0.013724  1.057952
14  1.193936  0.530265  1.097831
16 -1.303103  0.352476  0.508734
18  0.094614  0.835381 -0.071504

In [25]:
# numpy et panda n'utilisent pas la même formule pour la variance
# l'un divise par N, quand l'autre divise par N-1
# (régler le paramètre ddof pour être identique)
DFC = dataframe.apply(centrer_reduire_numpy)
DFC

           A         B         C
0   1.247139  1.585206  0.134325
2  -0.178658  0.909429 -1.407679
4  -1.060706 -0.456703 -1.599579
6   0.055372 -1.694533 -0.018182
8  -1.543822 -1.249140 -1.050890
10  1.136323 -0.890850  1.208728
12  0.359692 -0.014467  1.115179
14  1.258519  0.558948  1.157215
16 -1.373591  0.371542  0.536252
18  0.099732  0.880569 -0.075371

##### Ajout de colonne

In [26]:
def ma_fonction(serie):
    return np.sum([v**i for i,v in enumerate(serie)])

In [27]:
DFC['ma_fonction'] = DFC[['A','B','C']].apply(ma_fonction, axis=1)
DFC['moyenne']     = DFC[['A','B','C']].apply(lambda x:np.mean(x), axis=1)
DFC['Z']           = DFC['A']
DFC

           A         B         C  ma_fonction   moyenne         Z
0   1.247139  1.585206  0.134325     2.603249  0.988890  1.247139
2  -0.178658  0.909429 -1.407679     3.890988 -0.225636 -0.178658
4  -1.060706 -0.456703 -1.599579     3.101949 -1.038996 -1.060706
6   0.055372 -1.694533 -0.018182    -0.694203 -0.552448  0.055372
8  -1.543822 -1.249140 -1.050890     0.855231 -1.281284 -1.543822
10  1.136323 -0.890850  1.208728     1.570174  0.484734  1.136323
12  0.359692 -0.014467  1.115179     2.229158  0.486801  0.359692
14  1.258519  0.558948  1.157215     2.898095  0.991561  1.258519
16 -1.373591  0.371542  0.536252     1.659109 -0.155266 -1.373591
18  0.099732  0.880569 -0.075371     1.886250  0.301643  0.099732

##### sélection de ligne / colonne

In [28]:
DFC.iloc[6,:] # selection de la 6ième ligne, toutes les colonnes -> serie

A              0.359692
B             -0.014467
C              1.115179
ma_fonction    2.229158
moyenne        0.486801
Z              0.359692
Name: 12, dtype: float64

In [29]:
DFC.loc[6,:] # selection de la ligne qui a pour index 6, toutes les colonnes -> serie

A              0.055372
B             -1.694533
C             -0.018182
ma_fonction   -0.694203
moyenne       -0.552448
Z              0.055372
Name: 6, dtype: float64

In [30]:
DFC.loc[6,['A','B']] # selection de la ligne qui a pour index 6, colonnes A et B -> serie

A    0.055372
B   -1.694533
Name: 6, dtype: float64

In [31]:
DFC.loc[[6],['A','B']] # selection de la ligne qui a pour index 6, colonnes A et B -> dataframe

          A         B
6  0.055372 -1.694533

In [32]:
DFC.loc[[6,8],['A','B']] # selection de 6 et 8, colonnes A et B -> dataframe

          A         B
6  0.055372 -1.694533
8 -1.543822 -1.249140

In [33]:
DFC.iloc[[3,4],[0,1]] # selection 6e et 8e ligne, 1ère et 2eme colonne -> dataframe

          A         B
6  0.055372 -1.694533
8 -1.543822 -1.249140

In [34]:
DFC['A'] # colonne A -> Series

0     1.247139
2    -0.178658
4    -1.060706
6     0.055372
8    -1.543822
10    1.136323
12    0.359692
14    1.258519
16   -1.373591
18    0.099732
Name: A, dtype: float64

In [35]:
DFC[['A']] # colonne A -> DataFrame

           A
0   1.247139
2  -0.178658
4  -1.060706
6   0.055372
8  -1.543822
10  1.136323
12  0.359692
14  1.258519
16 -1.373591
18  0.099732

##### sélection d'une valeur

In [36]:
DFC.iat[0,0] # valeur à la premier ligne, première colonne

1.2471388159221064

In [37]:
DFC.at[0,'A'] # valeur à la ligne 0 , colonne A

1.2471388159221064

##### parcours ligne par ligne
vitesse : to_records > itertuples > iterrows

In [38]:
for row in DFC[['A','B','C']].to_records(): # tuples
    print(row)

(0, 1.24713882, 1.58520553, 0.13432542)
(2, -0.17865757, 0.90942892, -1.40767876)
(4, -1.06070617, -0.45670313, -1.59957866)
(6, 0.05537229, -1.69453341, -0.0181815)
(8, -1.54382187, -1.24913975, -1.05089045)
(10, 1.13632312, -0.89085022, 1.20872832)
(12, 0.35969182, -0.01446683, 1.11517936)
(14, 1.25851874, 0.55894799, 1.15721538)
(16, -1.37359103, 0.37154219, 0.53625233)
(18, 0.09973186, 0.88056872, -0.07537142)

In [39]:
for row in DFC[['A','B','C']].itertuples(): # tuples nommés
    print(row)

Pandas(Index=0, A=1.2471388159221064, B=1.5852055314270637, C=0.13432541611342477)
Pandas(Index=2, A=-0.17865757306297864, B=0.9094289166690563, C=-1.4076787642705884)
Pandas(Index=4, A=-1.0607061652174232, B=-0.4567031266022294, C=-1.5995786563863144)
Pandas(Index=6, A=0.05537228691607811, B=-1.6945334145262305, C=-0.018181504935313713)
Pandas(Index=8, A=-1.5438218672781638, B=-1.2491397482602393, C=-1.0508904548011677)
Pandas(Index=10, A=1.1363231244327259, B=-0.8908502217311257, C=1.2087283166172946)
Pandas(Index=12, A=0.35969181772160574, B=-0.014466827695157732, C=1.1151793552849008)
Pandas(Index=14, A=1.2585187377872682, B=0.5589479851056551, C=1.1572153815507185)
Pandas(Index=16, A=-1.3735910327351841, B=0.37154218941158823, C=0.5362523273224937)
Pandas(Index=18, A=0.0997318555139656, B=0.8805687162016215, C=-0.0753714164954451)

In [40]:
for row in DFC[['A','B','C']].iterrows(): # Series
    print(row)

(0, A    1.247139
B    1.585206
C    0.134325
Name: 0, dtype: float64)
(2, A   -0.178658
B    0.909429
C   -1.407679
Name: 2, dtype: float64)
(4, A   -1.060706
B   -0.456703
C   -1.599579
Name: 4, dtype: float64)
(6, A    0.055372
B   -1.694533
C   -0.018182
Name: 6, dtype: float64)
(8, A   -1.543822
B   -1.249140
C   -1.050890
Name: 8, dtype: float64)
(10, A    1.136323
B   -0.890850
C    1.208728
Name: 10, dtype: float64)
(12, A    0.359692
B   -0.014467
C    1.115179
Name: 12, dtype: float64)
(14, A    1.258519
B    0.558948
C    1.157215
Name: 14, dtype: float64)
(16, A   -1.373591
B    0.371542
C    0.536252
Name: 16, dtype: float64)
(18, A    0.099732
B    0.880569
C   -0.075371
Name: 18, dtype: float64)

## Concaténation et jointure
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html  
##### création de 3 dataframes :

In [41]:
nb_lignes, nb_colonnes = 5,2

DF1 = pd.DataFrame(data=np.random.random([nb_lignes,nb_colonnes]),
                   columns=['A','B'])
DF1['class'] = np.random.choice(['C1','C2'], nb_lignes, replace=True)
DF1

          A         B class
0  0.559199  0.298658    C1
1  0.338316  0.142392    C2
2  0.762914  0.700971    C2
3  0.013755  0.883610    C2
4  0.215401  0.102015    C1

In [42]:
DF2 = pd.DataFrame(data=np.random.random([nb_lignes,nb_colonnes]),
                   columns=['A','B'],
                   index=np.array(range(2,2+nb_lignes)))
DF2['class'] = np.random.choice(['C1','C2'], nb_lignes, replace=True)
DF2

          A         B class
2  0.140305  0.900021    C1
3  0.345779  0.925374    C2
4  0.961020  0.934339    C1
5  0.607040  0.116884    C1
6  0.070137  0.289512    C2

In [43]:
DF3 = pd.DataFrame(data=np.random.random([nb_lignes,nb_colonnes]),
                   columns=['C','D'],
                   index=np.array(range(nb_lignes))*2)
DF3['class'] = np.random.choice(['C1','C2'], nb_lignes, replace=True)
DF3

          C         D class
0  0.822104  0.484385    C2
2  0.187237  0.383154    C2
4  0.620088  0.450383    C1
6  0.871407  0.055480    C2
8  0.171122  0.665247    C1

##### Concat
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [44]:
pd.concat([DF1, DF2]) # attention à l'index

          A         B class
0  0.559199  0.298658    C1
1  0.338316  0.142392    C2
2  0.762914  0.700971    C2
3  0.013755  0.883610    C2
4  0.215401  0.102015    C1
2  0.140305  0.900021    C1
3  0.345779  0.925374    C2
4  0.961020  0.934339    C1
5  0.607040  0.116884    C1
6  0.070137  0.289512    C2

In [45]:
pd.concat([DF1, DF2], ignore_index=True) # attention à l'index

          A         B class
0  0.559199  0.298658    C1
1  0.338316  0.142392    C2
2  0.762914  0.700971    C2
3  0.013755  0.883610    C2
4  0.215401  0.102015    C1
5  0.140305  0.900021    C1
6  0.345779  0.925374    C2
7  0.961020  0.934339    C1
8  0.607040  0.116884    C1
9  0.070137  0.289512    C2

##### Merge
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [46]:
DF1.merge(DF3, left_index=True, right_index=True) # sur les index en commun

          A         B class_x         C         D class_y
0  0.559199  0.298658      C1  0.822104  0.484385      C2
2  0.762914  0.700971      C2  0.187237  0.383154      C2
4  0.215401  0.102015      C1  0.620088  0.450383      C1

In [47]:
DF1.merge(DF3, left_index=True, right_index=True, how='left') # sur tous les index de DF1

          A         B class_x         C         D class_y
0  0.559199  0.298658      C1  0.822104  0.484385      C2
1  0.338316  0.142392      C2       NaN       NaN     NaN
2  0.762914  0.700971      C2  0.187237  0.383154      C2
3  0.013755  0.883610      C2       NaN       NaN     NaN
4  0.215401  0.102015      C1  0.620088  0.450383      C1

In [48]:
DF1.merge(DF3, left_on='class', right_on='class') # en fonction d'une colonne

           A         B class         C         D
0   0.559199  0.298658    C1  0.620088  0.450383
1   0.559199  0.298658    C1  0.171122  0.665247
2   0.215401  0.102015    C1  0.620088  0.450383
3   0.215401  0.102015    C1  0.171122  0.665247
4   0.338316  0.142392    C2  0.822104  0.484385
5   0.338316  0.142392    C2  0.187237  0.383154
6   0.338316  0.142392    C2  0.871407  0.055480
7   0.762914  0.700971    C2  0.822104  0.484385
8   0.762914  0.700971    C2  0.187237  0.383154
9   0.762914  0.700971    C2  0.871407  0.055480
10  0.013755  0.883610    C2  0.822104  0.484385
11  0.013755  0.883610    C2  0.187237  0.383154
12  0.013755  0.883610    C2  0.871407  0.055480

### Pour les calculs sur des dataframes, séries, arrays, etc, toujours utiliser les fonctions fournies par les libraires (df.apply(fonction), np.mean(), etc) qui sont beaucoup plus rapides et plus lisibles !