In [1]:
import urllib.request
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
import time
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
options = Options()
#options.headless = True

driver = webdriver.Firefox(options=options)

In [3]:
url = "https://www.flugzeuginfo.net/codes_en.php#countrycodes"

In [4]:
driver.get(url)

In [5]:
# wait
time.sleep(3 + np.random.random(1)[0]*3)

In [6]:
dict_country = {}

In [7]:
alphabet = driver.find_elements_by_xpath("//table[@style='width:80%']")
for letter in alphabet:
    lines = letter.find_elements_by_xpath(".//tr")[1:]
    for line in lines:
        colonnes = line.find_elements_by_xpath(".//td")
        if colonnes:
            code = colonnes[0].text
            country = colonnes[1].text

            dict_country[code] = country
            print(code, country)

YA Afghanistan
ZA Albania
7T Algeria
N US Virgin Islands
C3 Andorra
D2 Angola
VP-LA Anguilla
V2 Antigua and Barbuda
LQ / LV Argentina
EK Armenia
P4 Aruba (Netherlands)
4K Azerbaijan
VH Australia
C6 Bahamas
A9C Bahrain
S2 Bangladesh
8P Barbados
OO Belgium
V3 Belize
TY Benin
VP-B Bermuda
A5 Bhutan
CP Bolivia
T9 Bosnia-Hercegovina
A2 Botsuana
PP / PT / PR Brazil
VP-LV British Virgin Islands
V8 Brunei Darussalam
LZ Bulgaria
XT Burkina Faso
9U Burundi
CC Chile
B China - Peoples Republic
E5 Cook Islands
TI Costa Rica
OY Denmark
D Germany
J7 Dominica
HI Dominican Republic
J2 Djibouti
HC Ecuador
YS El Salvador
TU Ivory Coast
E3 Eritrea
ES Estonia
VP-F Falkland Islands (UK)
DQ Fiji
OH Finland
F France
F-O French Guiana
F French Polynesia
OY Faroe Islands (Denmark)
TR Gabon
C5 Gambia
4L Georgia
9G Ghana
VR-G Gibraltar (UK)
J3 Grenada
SX Greece
G United Kingdom
OY Greenland (Denmark)
F Guadeloupe - French Antilles
N Guam (USA)
TG Guatemala
3X Guinea
J5 Guinea Bissau
8R Guyana
HH Haiti
HR Honduras
VT India
PK Indonesia
M Isle of Man
YI Iraq
EP Iran
EI Ireland
TF Iceland
4X Israel
I Italy
6Y Jamaica
JA Japan
7O Yemen
JY Jordan
VP-C Cayman Islands
XU Cambodia
TJ Cameroon
C/CF Canada
D4 Cape Verde
UN Kazakhstan
A7 Qatar
5Y Kenya
EX Kyrgyzstan
T3 Kiribati
HK Colombia
D6 Comoros
9Q Congo, Democratic Republic of the
TN Congo, Republic of
9A Croatia
CU Cuba
9K Kuwait
RDPL Laos
7P Lesotho
YL Latvia
OD Lebanon
EL Liberia
5A Libya
HB Lichtenstein
LY Lithuania
LX Luxembourg
5R Madagascar
7Q Malawi
9M Malaysia
8Q Maldives
TZ Mali
9H Malta
CN Morocco
V7 Marshall Islands
F Martinique - French Antilles
5T Mauritania
3B Mauritius
F Mayotte
Z3 Macedonia
XA / XB / XC Mexico
V6 Micronesia, Federated States of
ER Moldova
3A Monaco
MT Mongolia
4O Montenegro
VP-LM Montserrat
C9 Mozambique
XY / XZ Myanmar (Burma)
V5 Namibia
C2 Nauru
9N Nepal
F New Caledonia (France)
ZK / ZL / ZM New Zealand
YN Nicaragua
PH Netherlands
PJ Netherlands Antilles
5U Niger
5N Nigeria
P North Korea
LN Norway
N Northern Mariana Islands
A4O Oman
PK East Timor (Timor-Leste)
AP Pakistan
T8A Palau
HP Panama
P2 Papua New Guinea
ZP Paraguay
OB Peru
RP Philippines
SP Poland
CS Portugal
N Puerto Rico
F-OD Reunion
9XR Rwanda
YR Romania
RA Russia
H4 Solomon Islands
9J Zambia
5W Samoa
T7 San Marino
S9 Sao Tome and Principe
HZ Saudi Arabia
SE Sweden
HB Switzerland
6V / 6W Senegal
YU Serbia
S7 Seychelles
9L Sierra Leone
Z Zimbabwe
9V Singapore
OM Slovakia
S5 Slovenia
6O Somalia
EC Spain
4R Sri Lanka
V4 Saint Kitts and Nevis
J6 Saint Lucia
F Saint-Pierre and Miquelon
J8 St. Vincent & Grenadines
ST Sudan
PZ Suriname
3D Swaziland
YK Syria
ZS / ZT / ZU South Africa
HL South Korea
EY Tajikistan
B Taiwan, Republic of China
5H Tanzania
HS Thailand
5V Togo
A3 Tonga
9Y Trinidad & Tobago
TT Chad
OK Czech Republic
TS Tunesia
EZ Turkmenistan
VQ-T Turks & Caicos
T2 Tuvalu
TC Turkey
N USA
5X Uganda
UR Ukraine
HA Hungary
CX Uruguay
UK Uzbekistan
YJ Vanuatu
HV Vatican City
YV Venezuela
A6 United Arab Emirates
VN Vietnam
EW Belarus
TL Central Africa
5B Cyprus
SU Egypt
3C Equatorial Guinea
ET Ethiopia
OE Austria

In [8]:
# sauvegarde
df_country = pd.DataFrame(zip(dict_country.keys(), dict_country.values()))
df_country.columns = ['code','country']
df_country.to_csv('df_country.csv', sep='ยง', encoding='utf-8')
df_country.tail()

    code            country
200   5B             Cyprus
201   SU              Egypt
202   3C  Equatorial Guinea
203   ET           Ethiopia
204   OE            Austria